# IDE and OS

.idea/
.vscode/
.DS_Store

# Environment

dist/
out/
coverage/
/target/
.next/

## Python

.env
__pycache__/
*.pyc

### Django

*.sqlite3

## JavaScript

.nuxt/
npm-debug.log
node_modules/
.nyc_output
