//
// Core
//

@import "~bulma";

//
// Typography
//

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body {
  font-family: 'Rubik', sans-serif;
}

// "brief" is used as large text. The title and subtitle are bigger than normal.

.brief {
  font-size: calc(18px + 0.33vw);

  max-width: 24em;
}

.wide-brief {
  max-width: 100%;
}

.brief .title {
  font-size: 48px;
}

.brief .subtitle {
  padding-top: 0.5em;
  font-size: 32px;
}

.brief .tag {
  font-size: inherit;
}

//
// Colour
//

$primary: #ffbe0b;
$secondary: #ff006e;

a {
  color: $secondary;
}

.background-highlight {
  background-color: $primary;
}

.highlight {
  color: $primary;
}

//
// Container
//

#base {
  margin: 5vh 10vw;
}

//
// Footer
//

// The footer style is simply a lightly coloured left-aligned quote-like string.

footer {
  margin-top: 2em;
  opacity: 50%;
  font-size: 80%;
  text-transform: uppercase;
}

//
// Navbar
//

@media (min-width: 1024px) {
  nav {
    padding: 48px 0 48px 0;
    margin: 0 10vw 0 10vw;

    font-size: 24px;
  }

  // Give the title element of any page some breathing space with this class.

  .big-pad {
    padding-top: calc(64px + 32px + 10vh) !important;
  }

  // For standard titles, they just need enough clearance for the expanded navbar.

  .title {
    padding-top: 96px;
  }
}

@media (max-width: 1023px) {
  .expanded-navbar {
    padding: 16px;
  }

  // The title on mobile still needs some breathing room, but not as much as on wider displays.

  .big-pad {
    padding-top: calc(1em + 5vh) !important;
  }

  footer {
    padding: 1em;
  }

  // Tags are considered optional on narrow device views.

  .tag {
    display: none !important;
  }

  .title {
    padding-top: 64px;
  }
}

.navbar-icon {
  padding-right: 0.5em;
  color: #000000;

  font-size: 88%;
}

//
// Helpers
//

.do-not-break {
  display: inline-block;
  white-space: nowrap;
}


//
// Page-specific
//

.index-socials {
  margin-top: 2em;
}

.index-profile-image {
  width: 64px;
}

.card-header-text {
  margin-left: 0.5em;
}

@media (min-width: 1024px) {
  .profile-card .card-content {
    height: 15em;
    position: relative;
  }

  .profile-card .card-content div {
    position: absolute;
    top: 50%;
    margin: 0;
    padding-right: 2em;
    transform: translateY(-50%);
  }
}
